
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?t=1487675619361') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e661"; }

.icon-jiantou:before { content: "\e61d"; }

.icon-faxian:before { content: "\e623"; }

.icon-weizhi:before { content: "\e634"; }

.icon-icon:before { content: "\e632"; }

.icon-msnui-shops:before { content: "\e6c8"; }

.icon-dingdan:before { content: "\e613"; }

.icon-apptianqi:before { content: "\e836"; }

.icon-dianzan:before { content: "\e66f"; }

.icon-jiantou-copy:before { content: "\e61f"; }

.icon-iconfontwode:before { content: "\e65d"; }

.icon-weizhi1:before { content: "\e615"; }

.icon-xiangxiajiantou:before { content: "\e61e"; }

.icon-m-members:before { content: "\e6b8"; }

.icon-naozhong:before { content: "\e60a"; }

.icon-changyonglogo40:before { content: "\e722"; }

.icon-hua:before { content: "\e628"; }

.icon-touxiang:before { content: "\e7c9"; }

.icon-icon-test:before { content: "\e671"; }

