<ion-view view-title="设置详情" >
	
	<ul id="set">
		<li></li>
		<li>
			<span></span>
			<div ><img src="images/accout/account_setting.png"/></div>
			<span></span>
			<div >
				<img src="images/accout/account_favorite.png"/>
				<i>0</i>
			</div>
			<span></span>
			<div ><img src="images/accout/account_user.png"/></div>
			<span></span>
		</li>
		<li></li>
		<li>
			<span></span>
			<div >
				<img src="images/accout/account_collect.png"/>
				<i>1</i>
			</div>
			<span></span>
			<div >
				<img src="images/accout/account_download.png"/>
				<i>1</i>
			</div>
			<span></span>
			<div ><img src="images/accout/account_comment.png"/></div>
			<span></span>
		</li>
		<li></li>
		<li>
			<span></span>
			<div ><img src="images/accout/account_help.png"/></div>
			<span></span>
			<div ><img src="images/accout/account_candou.png"/></div>
			<span></span>
			<div ></div>
			<span></span>
		</li>
		<li></li>
	</ul>
	
	
</ion-view>